.grid-container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1.3fr;
  grid-template-rows: 6vh 8fr;
  gap: 1vw;

  grid-template-areas: 
    "header header header"
    "components board properties"
  ;
}

.header{
  grid-area: header;
  background-color: rebeccapurple;
}

.board{
  grid-area: board;
  background-color: blue;
  border-radius:  15px  15px 0  0;
}

.properties{
  grid-area: properties;
  background-color: brown;
  border-radius: 15px 0 0 0;
}

.components{
  grid-area: components;
  background-color: white;
}