.grid-container{
  display: grid;
  grid-template-columns: 1fr 4fr 1.3fr;
  gap: 1vw;
  grid-template-areas: 
    "components board properties"
  ;
  height: 100%;
}

.board{
  grid-area: board;
  background-color: blue;
  border-radius:  15px  15px 0  0;
  /* flex: 1; */
}

.properties{
  display: flex;
  grid-area: properties;
  background-color: brown;
  border-radius: 15px 0 0 0;
}

.components{
  grid-area: components;
  background-color: white;
  border-radius: 0 15px 0 0;
}